*.nfs*
*.[oad]
*~
*.out
*.csv
*.pdf
\#*#
#.*
*.root
MC_histograms*
data_histograms*
*.txt
cutflows
c8d06ac9-d1dc-49b0-a94f-03aad1fdccee/
Atlas*
*.so
template_test/
new_file_lists/
packages/
*.cxx
*.log
rootlogon.C
__pycache__
data
output